{% extends "blog/base.html" %} {% block container%}
<main class="d-flex justify-content-center align-items-center gap-5 my-5">
  <div class="card" style="width: 25rem; height: 40rem">
    <img src="{{post.image.url}}" class="card-img-top" alt="image" />
    <div class="card-body overflow-auto">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.content}}</p>
    </div>
    <div class="d-flex justify-content-start gap-5 py-3 px-3 bg-light">
      <i class="fa-regular fa-heart btn"></i>
      <i class="fa-solid fa-eye btn"></i>
      <i class="fa-regular fa-message btn"></i>
    </div>
    <div class="d-flex justify-content-start gap-5 py-3 px-3 bg-light">
      <a href="/update/{{post.id}}" class="btn btn-primary w-25">Edit</a>
      <a href="#" class="btn btn-success w-25">Comment</a>
      <a href="/delete/{{post.id}}" class="btn btn-danger w-25">Delete</a>
    </div>

    <p class="px-3 bg-light">{{post.publish_date}}</p>
    <hr />
    <form>
      {{form}}
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" />
      </div>
      <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea
          class="form-control"
          name="comment"
          id="comment"
          cols="30"
          rows="7"
          autofocus
        ></textarea>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</main>
{% endblock container%}
