{% extends "blog/base.html" %} {% block container%}
<main class="container">
  {% comment %}
  <p>user id :{{user.id}}</p>
  <p>post author id :{{post.author.id}}</p>
  {% endcomment %}
  <section
    class="d-flex flex-column align-items-center gap-3 my-5 p-5 border shadow"
  >
    <h1 class="title px-4">{{ post.title }}</h1>
    <div class="w-100 d-flex justify-content-between px-5">
      <span><b>Category: </b> {{ post.category }}</span>

      <div class="d-flex gap-4 align-items-center">
        <div class="{% if user.id != post.author.id %} invisible{% endif %}">
          <a href="/update/{{post.id}}" class="btn btn-primary">Edit</a>
          <a href="/delete/{{post.id}}" class="btn btn-danger">Delete</a>
        </div>
        <i class="fa-regular fa-heart fa-xl"></i>
        <i class="fa-solid fa-eye fa-xl">{{viewCount}}</i>
        <i class="fa-regular fa-message fa-xl"></i>

        <span>{{ post.publish_date|timesince }} ago</span>
      </div>
    </div>
    <hr />
    <p class="text-start px-4">{{ post.content }}</p>

    {% if post.image %}
    <figure class="img-thumbnail">
      <img src="{{ post.image.url }}" width="100%" />
    </figure>
    {% endif %}
    <hr />
    <h2 class="w-75 text-start my-2">Leave A Comment...</h2>

    <form
      method="POST"
      class="d-flex flex-column gap-2 p-3 my-3 border shadow-1 w-75"
    >
      {% csrf_token %} {{ form}}
      <button class="btn btn-primary my-2">Submit comment</button>
    </form>
    <h2 class="w-75 text-start my-2">Comments</h2>

    {% for comment in post.comments.all %}

    <article class="card w-75 my-2">
      <div class="card-header d-flex justify-content-between">
        <strong>{{ comment.name }}</strong>
        <em>added by {{comment.author}}</em
        ><small>{{ comment.time_stamp|timesince }} ago</small>
      </div>

      <div class="card-body">
        <p>{{ comment.content }}</p>
      </div>
    </article>
    {% endfor %}
  </section>
</main>
{% endblock container%}
