{% extends "blog/base.html" %} {% load static %} {% block container%}
<main
  class="d-flex flex-wrap justify-content-center align-items-center gap-5 my-5"
>
  {% if posts %} {% for post in posts%}
  <section class="card" style="width: 25rem; height: 35rem">
    <img src="{{post.image.url}}" class="card-img-top" alt="image" />
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <hr />
      <div class="d-flex justify-content-between">
        <span><b>Category: </b> {{ post.category }}</span>
        <div class="d-flex justify-content-between gap-4">
          <i class="fa-solid fa-eye"></i>
          <i class="fa-regular fa-heart"></i>
          <i class="fa-regular fa-message"></i>
        </div>
      </div>
      <hr />
      <p
        class="card-text"
        style="
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          max-height: 3.2rem;
        "
      >
        {{post.content}}
      </p>
      <p class="card-text text-end">
        <small class="text-muted"
          >Last updated {{post.last_updated|timesince}} ago</small
        >
      </p>
    </div>

    <div class="d-flex justify-content-end p-3 bg-light">
      <a href="/detail/{{post.id}}" class="btn btn-secondary w-25">Detail</a>
    </div>
  </section>

  {%endfor%} {% endif %}
</main>
{% endblock container%}
