{% extends "blog/base.html" %} {% block container%}
<main class="container">
  <section class="d-flex flex-column align-items-center my-5 p-5 border shadow">
    <h1 class="title">{{ post.title }}</h1>
    <hr />
    <div class="w-100 d-flex justify-content-between">
      <span><b>Category: </b> {{ post.category }}</span>
      <div class="d-flex gap-3">
        <i class="fa-regular fa-heart btn"></i>
        <i class="fa-solid fa-eye btn"></i>
        <i class="fa-regular fa-message btn"></i>
        <span>{{ post.publish_date|timesince }} ago</span>
      </div>
    </div>
    <hr />
    <p class="">{{ post.content }}</p>

    {% if post.image %}
    <figure class="img-thumbnail">
      <img src="{{ post.image.url }}" width="100%" />
    </figure>
    {% endif %}
    <hr />

    <h2>Comments</h2>

    <form method="POST" class="mb-6">
      {% csrf_token %} {{ form.as_p }}

      <div class="field">
        <div class="control">
          <button class="button is-success">Submit comment</button>
        </div>
      </div>
    </form>

    {% comment %} {% for comment in post.comment.all %}
    <article class="media box">
      <div class="media-content">
        <strong>{{ comment.name }}</strong>
        <small>{{ comment.time_stamp|timesince }} ago</small><br />
        {{ comment.content }}
      </div>
    </article>
    {% endfor %} {% endcomment %}
  </section>
</main>
{% endblock container%}
